<%= stylesheet_link_tag "recipes_index.css" %>

<h2><%=@user.name %> Recipes List</h2>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <div class="recipes-container">
    <div class="recipes-card">
    <p class="recipes-title"><%= link_to recipe.name ,user_recipe_url(@user,recipe) %></p>
    <p class="recipes-description"><%= recipe.description %></p>
    </div>
    </div>
  <% end %>
</div>

