<%= stylesheet_link_tag "recipes-index.css" %>

<h1><%= @user.name %>'s Recipes List</h1>

<div id="recipes">
  <% @recipes.each do |recipe| %>
    <p>
      Recipe Name: <%= recipe.name %>
    </p>
    <p>
      Recipe Description: <%= recipe.description %>
    </p>
  <% end %>
</div>

