/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #03404c;
  color: #fff;
}

.main-wrapper {
  width: 90%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #02272e;
  gap: 120px;
  padding: 30px;
  border-bottom: 1px solid rgb(172, 226, 186);
  border-radius: 0 0 20px 20px;
  box-shadow: 0 0 10px 0px rgb(172, 226, 186)
}

.logo {
  font-size: 2rem;
  color: #fff;
  margin-left: 9px;
  font-weight: bold;
}

.elements {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  gap: 1rem;
  margin-top: 2px;
}

button {
  background-color: white;
  padding: 8px;
  border: 3px solid rgb(172, 226, 186);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}

button:hover {
  background-color: rgb(172, 226, 186);
}

.decoration {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

a:hover {
  border: 1px solid rgb(172, 226, 186);
  border-radius: 5px;
}

.content-buttons {
  margin: 1.5rem 0;
}

.content-buttons a {
  border: rgb(172, 226, 186) 2px solid;
  border-radius: 5px;
}

.content-buttons a:hover {
  background-color: #fff;
  border:rgb(172, 226, 186) 2px solid;
  color: #02272e;
}

.content-buttons button {
  margin: 1rem 0;
}
