table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 80%;
	margin: 0 auto;
}

td,
th {
	border: 1px solid rgb(157, 157, 157);
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ddd;
}
