.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 70px;
}

.recipes-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  border: 4px solid rgba(172, 226, 186, 0.5);
  border-radius: 10px;
  font-weight: 600;
  align-items: center;
  padding: 24px;
  margin: 2rem;
  cursor: pointer;
}

.recipes-card:hover {
  border: none;
  box-shadow: 0 0 10px 0 rgba(172, 226, 186, 0.5);
}

.recipes-title {
  text-decoration: none;
  font-size: 23px;
}

.recipe-informations {
  display: flex;
  flex-direction: column;
  margin-left: 19px;
}

.recipe-informations button {
  margin: 1rem 0;
}

span {
  color: #fff;
}

.price {
  position: relative;
  bottom: 18px;
}

.d-btn {
  position: relative;
  bottom: 18px;
}
