.users-page-header {
    font-size: 2.5rem;
}

.show-user {
    margin: 1.3rem 0;
}

.user-info {
    font-size: 1.5rem;
    margin-top: 4rem;
}

.user-info-button {
    margin-top: 1rem;
}

.user-info-button button {
    margin-top: 2rem;
}
